body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  background-color: #1c99b0;
}

.container {
  justify-content: space-around;
  padding: 5px 5px;
  display: flex;
  align-items: center;
}

.logo h1 {
  margin: 0;
  color: #333333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
}

.list {
  margin-left: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.user-options input[type="text"],
.user-options button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.user-options input[type="text"] {
  width: 200px;
  margin-left: 390px;
}

.user-options button {
  background-color: #ff7f00;
  color: #fff;
  cursor: pointer;
}
.user-options button :hover {
  background-color: #ff5900;
}
.user-options a {
  text-decoration: none;
  color: #333;
}

.user-options a:hover {
  color: #007bff;
}

.logo {
  width: 100px;
  padding-left: 20px;
}
.title {
  position: relative;
  white-space: nowrap;
}
.title:after {
  --deco-height: 0.3125em;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--deco-height) * -0.625);
  height: var(--deco-height);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: round;
  background-position: 0em;
}
.t2 {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-weight: 700;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffa500;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ff7f00;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.features {
  background-color: #f4f4f4;
  padding: 50px 0;
}

.login {
  background-color: rgb(67, 67, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: Gilroy, "sans-serif";
  font-size: 14px;
  font-weight: 600;
  height: 37px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 5px;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 90px;
  border-radius: 9px;
}
.login:hover {
  background-color: rgb(90, 75, 218);
}
.sign {
  background-color: #ffa500;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 37px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 90px;
  border-radius: 9px;
  transition: background-color 0.3s;
  float: right;
}
.sign:hover {
  background-color: #ff7f00;
}

.mySlides img {
  max-width: 100%;
  max-height: 300px; /* Set the maximum height of the image */
  display: block;
  margin: 0 auto;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Style the dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.hero-content {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 48px;
  font-size: 19px;
}
.info-title {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  width: 270px;
  text-align: center;
  margin-left: 550px;
  line-height: 50px;
  text-decoration-thickness: 10px;
}

* {
  margin: 0;
  padding: 0;
}
.text1 {
  background-color: rgb(199, 213, 240);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: left;
}
.text-main {
  font-size: 32px;
  font-weight: 700;
  font-family: Arial;
  color: #5a4bda;
  text-align: center;
  line-height: 48px;
}
.text {
  font-size: 32px;
  width: 290px;
  text-align: left;
  padding-left: 250px;
  line-height: 48px;
}
.sec {
  max-height: 200px;
  padding-left: 450px;
}
